@import "tailwindcss";

/* :root {
  --background: #ffffff;
  --foreground: #171717;
} */

/* slider.css */
@font-face {
  font-family: "HelveticaNeue";
  src: url(../../public/fonts/HelveticaNowDisplay/HelveticaNowDisplay-Medium.woff2);
}
